<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  >
    <xacro:include filename="inertial_macros.xacro"/>
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
    </material>
    <material name="yellow">
        <color rgba="1.0 1.0 0.0 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.0 1.0 1.0 1.0"/>
    </material>

    <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
    </material>
<link name="base_link">
    
</link>

<!-- Chassis part 1 -->
<joint name="chassis1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis1"/>
    <origin xyz="0.0 0.0 0.0"/>
</joint>
<link name="chassis1">
    <visual>
        <origin xyz="0.0225 0.0 0.045"/>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <origin xyz="0.0225 0 0.045"/>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.045" y="0.15" z="0.0025">
        <origin xyz="0.0225 0.0 0.045" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis1">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 2 -->
<joint name="chassis2_joint" type="fixed">
    <parent link="chassis1"/>
    <child link="chassis2"/>
    <origin xyz="0.0825 0.0 0.045"/>
</joint>
<link name="chassis2">
    <visual>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.075" y="0.09" z="0.0025">
        <origin xyz="0.0825 0.0 0.045" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis2">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 3 -->
<joint name="chassis3_joint" type="fixed">
    <parent link="chassis2"/>
    <child link="chassis3"/>
    <origin xyz="0.0475 0.0 0.0"/>
</joint>
<link name="chassis3">
    <visual>
        <geometry>
            <box size="0.02 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.02 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.00375" x="0.02" y="0.15" z="0.0025">
        <origin xyz="0.0475 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis3">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 4 -->
<joint name="chassis4_joint" type="fixed">
    <parent link="chassis3"/>
    <child link="chassis4"/>
    <origin xyz="0.0475 0.0 0.0"/>
</joint>
<link name="chassis4">
    <visual>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.075" y="0.09" z="0.0025">
        <origin xyz="0.0475 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis4">
    <material>Gazebo/White</material>
</gazebo>


<!-- Chassis part 5 -->
<joint name="chassis5_joint" type="fixed">
    <parent link="chassis4"/>
    <child link="chassis5"/>
    <origin xyz="0.06 0.0 0.0"/>
</joint>
<link name="chassis5">
    <visual>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.00375" x="0.045" y="0.15" z="0.0025">
        <origin xyz="0.06 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis5">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 1 -->
<joint name="chassis11_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis11"/>
    <origin xyz="0.0 0.0 0.0"/>
</joint>
<link name="chassis11">
    <visual>
        <origin xyz="0.0225 0.0 0.096"/>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <origin xyz="0.0225 0 0.096"/>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.045" y="0.15" z="0.0025">
        <origin xyz="0.0225 0.0 0.096" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis11">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 2 -->
<joint name="chassis21_joint" type="fixed">
    <parent link="chassis1"/>
    <child link="chassis21"/>
    <origin xyz="0.0825 0.0 0.096"/>
</joint>
<link name="chassis21">
    <visual>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.075" y="0.09" z="0.0025">
        <origin xyz="0.0825 0.0 0.096" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis21">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 3 -->
<joint name="chassis31_joint" type="fixed">
    <parent link="chassis2"/>
    <child link="chassis31"/>
    <origin xyz="0.0475 0.0 0.051"/>
</joint>
<link name="chassis31">
    <visual>
        <geometry>
            <box size="0.04 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.04 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.00750" x="0.04" y="0.15" z="0.0025">
        <origin xyz="0.0475 0.0 0.051" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis31">
    <material>Gazebo/White</material>
</gazebo>

<!-- Chassis part 4 -->
<joint name="chassis41_joint" type="fixed">
    <parent link="chassis3"/>
    <child link="chassis41"/>
    <origin xyz="0.0475 0.0 0.051"/>
</joint>
<link name="chassis41">
    <visual>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.075 0.09 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.0084375" x="0.075" y="0.09" z="0.0025">
        <origin xyz="0.0475 0.0 0.051" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis41">
    <material>Gazebo/White</material>
</gazebo>


<!-- Chassis part 5 -->
<joint name="chassis51_joint" type="fixed">
    <parent link="chassis4"/>
    <child link="chassis51"/>
    <origin xyz="0.06 0.0 0.051"/>
</joint>
<link name="chassis51">
    <visual>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.045 0.15 0.0025"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.00375" x="0.045" y="0.15" z="0.0025">
        <origin xyz="0.06 0.0 0.051" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="chassis51">
    <material>Gazebo/White</material>
</gazebo>

<!-- Ultrasonic sensor -->
<joint name="supprot_ultrasoni_joint" type="fixed">
    <parent link="chassis51"/>
    <child link="supprot_ultr"/>
    <origin xyz="0.02 0.0 0.01065"/>
    <!-- <origin xyz="0.0 0.0 0.1"/> -->
</joint>
<link name="supprot_ultr">
    <visual>
        <geometry>
            <box size="0.0025 0.0457 0.0213"/>
        </geometry>
        <material name="blue"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.0025 0.0457 0.0213"/>
        </geometry>     
    </collision>
    <xacro:inertial_box mass="0.00375" x="0.0025" y="0.0457" z="0.0213">
        <origin xyz="0.02 0.0 0.01065" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="supprot_ultr">
    <material>Gazebo/Blue</material>
</gazebo>

<!-- Ultrasonic Trigger -->
<joint name="supprot_trigger_joint" type="fixed">
    <parent link="supprot_ultr"/>
    <child link="supprot_trigger"/>
    <origin xyz="0.006 0.01235 0.0" rpy="0.0 ${pi/2} 0.0"/>
</joint>
<link name="supprot_trigger">
    <visual>
        <geometry>
            <cylinder length="0.012" radius="0.008" />
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <cylinder length="0.012" radius="0.008" />
        </geometry>     
    </collision>
    <xacro:inertial_cylinder mass="0.0012063715789784805" length="0.012" radius="0.008">
        <origin xyz="0.006 0.01235 0.0" rpy="0.0 ${pi/2} 0.0"/>
    </xacro:inertial_cylinder>
</link>
<gazebo reference="supprot_trigger">
    <material>Gazebo/White</material>
</gazebo>

<!-- Ultrasonic Echo -->
<joint name="supprot_echo_joint" type="fixed">
    <parent link="supprot_ultr"/>
    <child link="supprot_echo"/>
    <origin xyz="0.006 -0.01235 0.0" rpy="0.0 ${pi/2} 0.0"/>
</joint>
<link name="supprot_echo">
    <visual>
        <geometry>
            <cylinder length="0.012" radius="0.008" />
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <geometry>
            <cylinder length="0.012" radius="0.008" />
        </geometry>     
    </collision>
    <xacro:inertial_cylinder mass="0.0012063715789784805" length="0.012" radius="0.008">
        <origin xyz="0.006 -0.01235 0.0" rpy="0.0 ${pi/2} 0.0"/>
    </xacro:inertial_cylinder>
</link>
<gazebo reference="supprot_echo">
    <material>Gazebo/White</material>
</gazebo>


<!-- *********************** ULTRASONIC SENSOR ************************  -->
     <joint name="ultrasonic_optical_joint" type="fixed">
        <parent link="supprot_ultr"/>
        <child link="ultrasonic_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="ultrasonic_link_optical"></link> 



    <gazebo reference="supprot_ultr">
    
        <sensor name="ultrasonic_1" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
            <scan>
                <horizontal>
                <samples>5</samples>
                <resolution>1.000000</resolution>
                <min_angle>-0.12</min_angle>
                <max_angle>0.12</max_angle>
                </horizontal>
                <vertical>
                <samples>5</samples>
                <resolution>1.000000</resolution>
                <min_angle>-0.01</min_angle>
                <max_angle>0.01</max_angle>
                </vertical>
            </scan>
            <range>
                <min>0.02</min>
                <max>4</max>
                <resolution>0.01</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.01</stddev>
            </noise>
            </ray>
            <plugin name="ultrasonic_sensor_1" filename="libgazebo_ros_ray_sensor.so">
            <ros>
                <remapping>~/out:=ultrasonic_sensor_1</remapping>
            </ros>
            <output_type>sensor_msgs/Range</output_type>
            <radiation_type>ultrasound</radiation_type>
            <frame_name>ultrasonic_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo> 

<!-- *********************** ULTRASONIC SENSOR ************************  -->

<!-- <link name="supprot_ultr2">
  <pose>0.09 -0.139 0.595 0 0 0</pose>
  <sensor name="ultrasonic_1" type="ray">
    <always_on>true</always_on>
    <visualize>false</visualize>
    <update_rate>5</update_rate>
    <ray>
      <scan>
        <horizontal>
          <samples>5</samples>
          <resolution>1.000000</resolution>
          <min_angle>-0.12</min_angle>
          <max_angle>0.12</max_angle>
        </horizontal>
        <vertical>
          <samples>5</samples>
          <resolution>1.000000</resolution>
          <min_angle>-0.01</min_angle>
          <max_angle>0.01</max_angle>
        </vertical>
      </scan>
      <range>
        <min>0.02</min>
        <max>4</max>
        <resolution>0.01</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </ray>
    <plugin name="ultrasonic_sensor_1" filename="libgazebo_ros_ray_sensor.so">
      <ros>
        <remapping>~/out:=ultrasonic_sensor_1</remapping>
      </ros>
      <output_type>sensor_msgs/Range</output_type>
      <radiation_type>ultrasound</radiation_type>
      <frame_name>supprot_ultr</frame_name>
    </plugin>
  </sensor>  
</link> -->

<!-- Batterie -->
<joint name="batterie_joint" type="fixed">
    <parent link="chassis3"/>
    <child link="batterie"/>
    <origin xyz="0.0 0.0 0.01375"/>
</joint>
<link name="batterie">
    <visual>
        <geometry>
            <box size="0.1375 0.045 0.025"/>
        </geometry>
        <material name="black"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.1375 0.045 0.025"/>
        </geometry>     
    </collision>
    <!-- <xacro:inertial_box mass="0.1546875" x="0.1375" y="0.045" z="0.025">  -->
    <xacro:inertial_box mass="0.5" x="0.1375" y="0.045" z="0.025"> 
        <origin xyz="0.0 0.0 0.01375" rpy="0.0 0.0 0.0"/>
    </xacro:inertial_box>
</link>
<gazebo reference="batterie">
    <material>Gazebo/Black</material>
</gazebo>


</robot>